<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<table class="table">
		<thead>
			<tr>
				<th>
					<f:translate key="domain.model.connection.field.identity_key">identity key</f:translate>
				</th>
				<th>
					<f:translate key="domain.model.connection.field.driver">driver</f:translate>
				</th>
				<th>
					<f:translate key="view.options">options</f:translate>
				</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{connections}" as="connection">
				<tr>
					<td>
						{connection.identityKey}
					</td>
					<td>
						{connection.driver}
					</td>
					<td>
						<f:render partial="View/ButtonGroup/Open"/>
						<f:render partial="View/Buttons/ActionButton"
								  arguments="{icon:'actions-system-extension-configure', action:'configure', controller:'Connection', arguments:'{connection:connection}'}"/>
						<f:render partial="View/Buttons/ActionButton"
								  arguments="{icon:'actions-edit-delete', action:'delete', controller:'Connection', arguments:'{connection:connection}'}"/>
						<f:render partial="View/ButtonGroup/Close"/>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</html>
