{namespace in2connector=In2code\In2connector\ViewHelpers}

<table class="table">
	<thead>
		<tr>
			<th>
				<f:translate key="model.log.field.request_id">request id</f:translate>
			</th>
			<th>
				<f:translate key="model.log.field.time_micro">time micro</f:translate>
			</th>
			<th>
				<f:translate key="model.log.field.component">component</f:translate>
			</th>
			<th>
				<f:translate key="model.log.field.level">level</f:translate>
			</th>
			<th>
				<f:translate key="model.log.field.message">message</f:translate>
			</th>
			<th>
				<f:translate key="model.log.field.data">data</f:translate>
			</th>
		</tr>
	</thead>
	<tbody>
		<f:for each="{logs}" as="log">
			<tr>
				<td>
					{log.requestId}
				</td>
				<td>
					{log.timeMicro}
				</td>
				<td>
					{log.component}
				</td>
				<td>
					{log.level}
				</td>
				<td>
					{log.message}
				</td>
				<td>
					<in2connector:printArray array="{log.decodedData}"/>
				</td>
			</tr>
		</f:for>
	</tbody>
</table>
