{namespace core=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="ToolBarLeft">
</f:section>

<f:section name="ToolBarRight">
</f:section>

<f:section name="Welcome">
</f:section>

<f:section name="Main">
	<table class="table table-striped table-hover  dataTable no-footer">
		<thead>
			<tr>
				<th>
					Package
				</th>
				<th>
					IdentityKey
				</th>
				<th>
					Type
				</th>
				<th>
					Required
				</th>
				<th>
					Connection Status
				</th>
				<th>
					Options
				</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{connections}" as="connection" iteration="i">
				<tr>
					<td>
						{connection.package}
					</td>
					<td>
						{connection.identityKey}
					</td>
					<td>
						{connection.type}
					</td>
					<td>
						<f:translate key="model.abstract_connection.status.{connection.requiredStatus}"/>
					</td>
					<td>
						<f:switch expression="{connection.connectionStatus}">
							<f:case value="0">
								<core:icon identifier="status-dialog-ok"/>
								{connection.connectionError}
							</f:case>
							<f:case value="1">
								<core:icon identifier="status-dialog-warning"/>
								{connection.connectionError}
							</f:case>
							<f:case value="2">
								<core:icon identifier="status-dialog-error"/>
								{connection.connectionError}
							</f:case>
							<f:case value="-1">
								<core:icon identifier="status-dialog-warning"/>
								{connection.connectionError}
							</f:case>
							<f:case default="TRUE">
								<core:icon identifier="status-dialog-error"/>
								{connection.connectionError}
							</f:case>
						</f:switch>
					</td>
					<td>
						<div class="btn-group">
							<f:if condition="{connection.requiredStatus} == 0">
								<f:then>
									<span class="btn btn-default">
										<f:link.action action="edit" controller="{connection.controllerName}"
													   arguments="{connection:connection}">
											<core:icon identifier="actions-edit-rename"/>
										</f:link.action>
									</span>
								</f:then>
								<f:else>
									<span class="btn btn-default disabled">
										<core:icon identifier="empty-empty"/>
									</span>
								</f:else>
							</f:if>
							<f:if condition="{connection.requiredStatus} == 1">
								<f:then>
									<span class="btn btn-default">
										<f:link.action action="add" controller="{connection.controllerName}"
													   arguments="{package:connection.package,identityKey:connection.identityKey,className:connection.className}">
											<core:icon identifier="actions-edit-add"/>
										</f:link.action>
									</span>
								</f:then>
								<f:else>
									<span class="btn btn-default disabled">
										<core:icon identifier="empty-empty"/>
									</span>
								</f:else>
							</f:if>
						</div>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>

	<f:render partial="Model/LogEntry/List" arguments="{logEntries:logEntries}"/>
</f:section>
