{namespace core=TYPO3\CMS\Core\ViewHelpers}

<f:layout name="Backend"/>

<f:section name="Main">
	<table class="table table-striped table-hover  dataTable no-footer">
		<thead>
			<tr>
				<th>
					Package
				</th>
				<th>
					IdentityKey
				</th>
				<th>
					Status
				</th>
				<th>
					Options
				</th>
			</tr>
		</thead>
		<tbody>
			<f:for each="{connections}" as="connection" iteration="i">
				<tr>
					<td>
						{connection.package}
					</td>
					<td>
						{connection.identityKey}
					</td>
					<td>
						<f:translate key="model.abstract_connection.status.{connection.status}"/>
					</td>
					<td>
						<div class="btn-group">
							<f:if condition="{connection.status} == 0">
								<f:then>
									<span class="btn btn-default">
										<f:link.action action="edit" controller="{connection.controllerName}"
													   arguments="{package:connection.package,identityKey:connection.identityKey}">
											<core:icon identifier="actions-edit-rename"/>
										</f:link.action>
									</span>
								</f:then>
								<f:else>
									<span class="btn btn-default disabled">
										<core:icon identifier="empty-empty"/>
									</span>
								</f:else>
							</f:if>
							<f:if condition="{connection.status} == 1">
								<f:then>
									<span class="btn btn-default">
										<f:link.action action="add" controller="{connection.controllerName}"
													   arguments="{package:connection.package,identityKey:connection.identityKey,className:connection.className}">
											<core:icon identifier="actions-edit-add"/>
										</f:link.action>
									</span>
								</f:then>
								<f:else>
									<span class="btn btn-default disabled">
										<core:icon identifier="empty-empty"/>
									</span>
								</f:else>
							</f:if>
						</div>
					</td>
				</tr>
			</f:for>
		</tbody>
	</table>
</f:section>
