<f:layout name="Backend"/>

<f:section name="ToolBarLeft">
</f:section>

<f:section name="ToolBarRight">
	<f:render partial="View/Buttons/EditConfiguration"/>
</f:section>

<f:section name="Welcome">
</f:section>

<f:section name="Main">

	<f:if condition="{connectionLinker.matchingConnections}">
	<h2><f:translate
		key="view.template.connection.index.matching_connections">matching connections</f:translate></h2>
		<f:render partial="Model/Connection/List" arguments="{connections:connectionLinker.matchingConnections}"/>
	</f:if>

	<f:if condition="{connectionLinker.orphanedConnections}">
	<h2><f:translate
		key="view.template.connection.index.orphaned_connections">orphaned connections</f:translate></h2>
		<f:render partial="Model/Connection/OrphanList"
				  arguments="{connections:connectionLinker.orphanedConnections}"/>
	</f:if>

	<f:if condition="{connectionLinker.unconfiguredConnections}">
		<h2><f:translate
			key="view.template.connection.index.missing_connections">missing connections</f:translate></h2>
		<f:render partial="Model/Dto/ConnectionDemand/List"
				  arguments="{connections:connectionLinker.unconfiguredConnections}"/>
	</f:if>

	<h2><f:translate key="view.template.connection.index.logs">logs</f:translate></h2>
	<f:render partial="Model/Log/List" arguments="{logs:logs,logsPerPage:logsPerPage}"/>

</f:section>

