<html xmlns:f="http://typo3.org/ns/TYPO3/CMS/Fluid/ViewHelpers" xmlns:core="http://typo3.org/ns/TYPO3/CMS/Core/ViewHelpers" data-namespace-typo3-fluid="true">
	<f:if condition="{arguments}">
		<f:then>
			<f:link.action class="btn btn-default" action="{action}" controller="{controller}" arguments="{arguments}">
				<core:icon identifier="{icon}" />
			</f:link.action>
		</f:then>
		<f:else>
			<f:link.action class="btn btn-default" action="{action}" controller="{controller}">
				<core:icon identifier="{icon}" />
			</f:link.action>
		</f:else>
	</f:if>
</html>
