<f:be.container>

	<div class="module-docheader">
		<div class="module-docheader-bar module-docheader-bar-navigation">
			<div class="module-docheader-bar-column-left">

				<f:comment>
					Section "toolbar top left"
					Defined in the Layout. Used for global navigation stuff.
				</f:comment>

			</div>
			<div class="module-docheader-bar-column-right">

				<f:comment>
					Section "toolbar top right".
					No usage defined yet.
				</f:comment>

			</div>
		</div>
		<div
			class="module-docheader-bar module-docheader-bar-buttons">
			<div class="module-docheader-bar-column-left">

				<f:comment>
					Section "toolbar bottom left"
					This content is defined by the Template and used for form buttons
				</f:comment>

				<f:render section="ToolBarLeft"/>
			</div>
			<div class="module-docheader-bar-column-right">

				<f:comment>
					Section "toolbar bottom right"
					This content is defined by the Template and used for navigation or additional stuff
					not related to the active form
				</f:comment>

				<f:render section="ToolBarRight"/>
			</div>
		</div>
	</div>

	<div class="module-body">
		<f:render section="Welcome"/>

		<f:flashMessages/>

		<f:render section="Main"/>
	</div>

</f:be.container>
