<html xmlns:f="http://xsd.helmut-hummel.de/ns/TYPO3/CMS/Fluid/ViewHelpers">
	<f:layout name="Backend"/>

	<f:section name="ToolBarLeft">
		<f:render partial="View/ButtonGroup/Open"/>
		<f:render partial="View/Buttons/ActionButton"
				  arguments="{icon:'actions-document-close',action:'index',controller:'Dashboard'}"/>
		<f:render partial="View/Buttons/Submit" arguments="{form:'EditConfiguration'}"/>
		<f:render partial="View/ButtonGroup/Close"/>
	</f:section>

	<f:section name="ToolBarRight">
	</f:section>

	<f:section name="Welcome">
	</f:section>

	<f:section name="Main">
		<f:form id="EditConfiguration" action="update" object="{configuration}" objectName="configuration"
				method="post">
			<f:render partial="Model/Dto/Configuration/Forms/Edit" arguments="{configuration:configuration}"/>
		</f:form>
	</f:section>
</html>
